<bench-config>

   <master bindAddress="${127.0.0.1:master.address}" port="${2103:master.port}"/>

   <benchmark initSize="1" maxSize="${1:slaves}" increment="1">
      <DestroyWrapper runOnAllSlaves="true"/>
      <StartCluster staggerSlaveStartup="true" delayAfterFirstSlaveStarts="5000" delayBetweenStartingSlaves = "500"/>
      <ClusterValidation partialReplication="false"/>
      <SyntheticWarmup keyGeneratorClass="org.radargun.stressors.ContentionStringKeyGenerator" numberOfAttributes="10000" sizeOfAnAttribute="1000" numOfThreads="1"/>
      <!--
         This will average to 10000 requests per thread, although a work-stealing pattern is used so some threads may
         do more work than others.
       -->
      <GarbageCollection/>
      <ResetStats/>
      <SyntheticBenchmark sizeOfAnAttribute="1000" keyGeneratorClass="org.radargun.stressors.ContentionStringKeyGenerator" numberOfAttributes="10000" numOfThreads="2" updateXactWrites="1" updateXactReads="9" readOnlyXactSize="10" writePercentage="20" duration="30000"/>
      <CsvReportGeneration/>
   </benchmark>

   <products>
      <infinispan4>
         <config name="cloudtm.xml"/>
      </infinispan4>
   </products>

   <reports>
      <report name="PCvsPR">
 		<item product="infinispan4" config="cloudtm.xml"/>	
      </report>
   </reports>

</bench-config>

